body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-color: black;
  }
  
  .image-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 300px;
    margin-top: 200px;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
    box-sizing: border-box;
    animation: borderAnimation 3s linear infinite;
  }
  
  @keyframes borderAnimation {
    0% {
      border-color: white transparent transparent transparent;
    }
    25% {
      border-color: transparent blue transparent transparent;
    }
    50% {
      border-color: transparent transparent red transparent;
    }
    75% {
      border-color: transparent transparent transparent rgb(0, 255, 38);
    }
    100% {
      border-color: blue transparent transparent transparent;
    }
  }
  